<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.assign.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.assign.greeting(${user.login})}"></p>
        <p th:text="#{email.assign.text1}"></p>
        <p>
            <a th:href="@{|${baseUrl}/#/}" th:text="#{email.assign.text2}"></a>
        </p>
        <p>
            <span th:text="#{email.activation.text3}"></span>
            <br/>
            <em th:text="#{email.signature}"></em>
        </p>
    </body>
</html>
