<div ng-cloak>
	<div class="row">
		<div class="col-md-offset-9 col-md-3" has-authority="ROLE_ADMIN">
			<select ng-model="vm.selectedPeriod" class="form-control" ng-change="vm.change()" 
				ng-options="period as period.startingDate + '-' + period.endingDate for period in vm.periods track by period.id">
				<!--  >option ng-repeat="period in vm.periods" value={{period.id}}>{{period.startingDate + "-" + period.endingDate}}</option--> 
			</select>
		</div>
	</div>
	<table class="table table-striped">
	  	<thead> 
		  	<tr> 
		  		<th>#</th> 
		  		<th>Nombre de Proyecto</th> 
		  		<th>Fecha de presentacion</th> 
		  		<th>Estado</th>
		  		<th>Opciones</th>
		  		<th ng-if="vm.hasAuthority('ROLE_ADMIN')">Evaluaciones</th> 
		  	</tr> 
		 </thead>
		 <tbody>
		  	<tr ng-repeat="project in vm.projects">
		  		<td>{{$index}}</td>
		  		<td class="col-md-3">{{project.title}}</td>
		    	<td>{{project.createdDate}}</td>
		    	<td>{{$parent.vm.getActiveStatus(project)}}</td>
		    	<td ng-if="vm.hasAuthority('ROLE_REFERRE') && vm.projectStatus(project) == 'PreSelected' && !project.hasEvaluated" ng-click="vm.navigateToProject(project.id)">Evaluar</td>
		    	<td ng-if="vm.hasAuthority('ROLE_REFERRE') && vm.projectStatus(project) == 'PreSelected' && project.hasEvaluated"><span class="label label-primary">Evaluado</span></td>
		    	<td ng-if="vm.hasAnyAuthority(['ROLE_ADMIN','ROLE_USER'])" ng-click="vm.navigateToProject(project.id)">Detalles</td>
		    	<td ng-if="vm.hasAuthority('ROLE_ADMIN')"><div evaluation-chart="project"></div></td>
		  	</tr>
	  	</tbody>
	</table>
</div>