<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Resetear contraseña</h1>

            <div class="alert alert-danger" ng-show="vm.keyMissing">
                <strong>La clave de restablecimiento de contraseña es obligatoria.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
                <p>Elija una contraseña nueva</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <p>No se pudo restablecer su contraseña. Recuerde que una solicitud de contraseña sólo es válida durante 24 horas.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <p><strong>Tu contraseña ha sido restablecida.</strong> Por favor <a class="alert-link" href="" ng-click="vm.login()">inicie sessión</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                 La contraseña y su confirmación no coinciden!
            </div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña"
                               ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                             <p class="help-block"
	                           ng-show="form.password.$error.required">
	                            La contraseña es requerida.
	                        </p>
	                        <p class="help-block"
	                           ng-show="form.password.$error.minlength"> 
								La contraseña debe tener al menos 4 caracteres.
	                        </p>
	                        <p class="help-block"
	                           ng-show="form.password.$error.maxlength">
	                            La contraseña no puede tener más de 50 caracteres.
	                        </p>
                        </div>
                        <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirmación de contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmación de contraseña"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
	                           ng-show="form.confirmPassword.$error.required">
								La confirmación de contraseña es requerida.
	                        </p>
	                        <p class="help-block"
	                           ng-show="form.confirmPassword.$error.minlength">
	                            La confirmación de contraseña debe tener al menos 4 caracteres.
	                        </p>
	                        <p class="help-block"
	                           ng-show="form.confirmPassword.$error.maxlength">
	                           La confirmación de contraseña no puede tener más de 50 caracteres.
	                        </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Reseter Contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
