<div ng-cloak>
	<button class="btn btn-defalut" ng-click="vm.newPeriod()">Crear periodo</button>
	<table class="table table-striped">
	  	<thead> 
		  	<tr> 
		  		<th>#</th> 
		  		<th>Fecha de inico</th> 
		  		<th>Fecha de fin</th> 
		  		<th>Action</th>
		  		<th>Estado</th> 
		  		<th>Cambiar Estado</th>
		  	</tr> 
		 </thead>
		 <tbody>
		  	<tr ng-repeat="period in vm.periods">
		  		<td>{{$index}}</td>
		  		<td class="col-md-3">{{period.startingDate.format('DD/MM/YYYY')}}</td>
		    	<td>{{period.endingDate.format('DD/MM/YYYY')}}</td>
		    	<td ng-click="vm.navigateToPeriod(period.id)">Ver Detalle</td>
		    	<td ng-if="period.active"><span class="label label-primary">Activo</span></td>
				<td ng-if="!period.active"><span class="label label-danger">No Activo</span></td>
				<td ng-if="period.active" class="btn btn-danger" ng-click="vm.deactivatePeriod(period.id)" style="width:100%">Desactivar</span></td>
				<td ng-if="!period.active" class="btn btn-primary" style="width:100%" ng-click="vm.activatePeriod(period.id)">Activar</span></td>
		  	</tr>
	  	</tbody>
	</table>
	<div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
</div>